<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Verify OTP</title>
    <style>
      .custom-form {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <form class="custom-form" action="/verify_otp" method="post">
            <h2 class="text-center">Enter OTP</h2>
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label">OTP</label> -->
              <input
                type="text"
                <!--
                Change
                type
                from
                email
                to
                text
                for
                OTP
                input
                --
              />
              name="otp"
              <!-- Add a name attribute to the input to identify it in the request -->
              class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" required
              <!-- Add required attribute for input validation -->
              />
              <div id="emailHelp" class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Verify</button>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
